@model IEnumerable<Emart.Models.E_Users>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="members">
                <h1 class="page-header">Members</h1>
                
               

                    @foreach (var item in Model)
                    {


                            <div class="row member-row">

                                <div class="col-md-3">
                                    <img src="/Account/ImageRetrive/?imgID=@item.imgid" class="img-thumbnail">
                                    <div class="text-center"><input type="hidden" id="userid" value="@item.ID" /><input type="hidden" id="username">@item.Username/></div>
                                </div>
                                <div class="col-md-3">

                                    <button type="submit" id="addFrn" class="btn btn-default"> Add Friend</button>
                                </div>

                                <div class="col-md-3">
                                    <p><a href="#" id="ProfileView" class="btn btn-primary btn-block"><i class="fa fa-edit"> ProfileView</i></a></p>
                                </div>
                            </div>



                    }
                </div>
            </div>

                            </div>
            </div>


       


