
@{
    ViewBag.Title = "LoggedIn";
}


<h2>LoggedIn</h2>
@if(Session["ID"]!=null)
{
    <h4> hello @Session["UserName"].ToString();</h4>


}


<div class="col-md-9">
    <div class="btn btn-primary">
        <input type="file" id="imageBrowse" />
    </div>
</div>

