@model Emart.ViewModels.SocialViewModel
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="active" href="/account/index">Home</a></li>
                <li><a href="/account/member">Members</a></li>
                <li><a href="/account/group">Groups</a></li>
                <li><a href="/account/photos">Photos</a></li>
                <li><a class="active" href="/account/profile">Profile</a></li>
                <li><img src="/Account/ImageRetrive/?imgID=@Model.E_users.imgid" style="width:100px;height:50px;float:right" class="logo" alt="" /></li>
            </ul>
            <ul class="nav navbar-nav"></ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
